.list{
    display: flex;
    width: 100%;
    

        .list-container{
            flex: 6;
            

            .header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
            }
            h1{
                color: gray;
                font-size: 30px;
                font-weight: bold;
                
            }
            .link{
                text-decoration: none;
                color: green;
                font-size: 16px;
                font-weight: 400;
                border: 1px solid green;
                padding: 5px;
                border-radius: 5px;
                cursor: pointer;
            }
        }
}