.widget{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    padding:10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    border-radius: 10px;
    height: 100px;
    

   .left{
    display: flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;

    .tilte{
        color: gray;
        font-weight: bold;
        font-size: 15px;
    }
    .counter{
        font-size: 29px;
        font-weight: normal;
    }
    .link{
        font-size: 13px;
        border-bottom: 1px solid gray;
        width: max-content;
        cursor: pointer;
    }

   }
   .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;

    .percentage{
        display: flex;
        align-items: center;
        justify-content: center;


        &.possitive{
            color: green;
        }
        &.negative{
            color: red
        }
    }
    .icon {
        font-size: 18px;
        padding: 5px;
        border-radius: 5px;
        align-self: flex-end;
      }
    
   }

}